{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - A Pen by Mohithpoojary</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
    <link rel='stylesheet' href="{% static 'style.css' %}">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
	{% block contents %}<!-- /contents -->{% endblock %}
</div>
<!-- partial -->

</body>
</html>


