# vim: ft=bash:

# direnv configuration (see: https://direnv.net/)

if ! on_git_branch; then
    echo "WARNING: Not in a git repo, it is recommended to keep track of your flake with git"
fi

if has nix; then
    use flake

    # https://github.com/nix-community/nix-direnv
    if ! has nix_direnv_version || ! nix_direnv_version 2.0.0; then
        echo "WARNING: nix-direnv version 2.0.0 or higher is recommended"

        watch_file "requirements.txt"
        nix_watches+=("requirements.txt")
    else
        nix_direnv_watch_file *.nix .*.nix "*/requirements.txt"
    fi

else
    echo "WARNING: nix not found, using layout python3 instead"
    layout python3
fi

CREDENTIALS="$HOME/.credentials"

# Read all the credentials from outside the repository
# The credentials are saved in files encrypted with gpg
# and loaded / unloaded when entering the developement
# environment using direnv.

export AWS_DEFAULT_REGION="eu-west-3"
export AWS_REGION="${AWS_DEFAULT_REGION}"

export AWS_ACCESS_KEY_ID="$(cat "$CREDENTIALS/key.asc" | gpg2 -d --no-tty 2>/dev/null)"
export AWS_SECRET_ACCESS_KEY="$(cat "$CREDENTIALS/skey.asc" | gpg2 -d --no-tty 2>/dev/null)"

export EC2_SSH_KEY="$(cat "$CREDENTIALS/ssh_id.asc" | gpg2 -d --no-tty 2>/dev/null)"
ssh-add - <<< "$EC2_SSH_KEY"
