version: '1.0'

networks:
  backend:
    external: true
  frontend:
    external: true

volumes:
  pgdata:

services:
  backend:
    image: ${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAG}
    hostname: backend
    networks:
      - frontend
      - backend
    ports:
      - "8000:8000"
    env_file:
      - .envs/.django.env
    # [Docker-ref] Better to add two settings modules (local and prod)
    environment:
      - DJANGO_SETTINGS_MODULE=djangoProject3.settings

  pg:
    image: postgres:14-alpine
    hostname: pg
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend
    env_file:
      - .envs/.postgres.env

