{% extends "layouts/header.html" %}
{% block contents %}
  {% load static %}
    <div class="pagetitle">
      <h1>History of requests</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">History</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">History of all requests</h5>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Target</th>
                    <th scope="col">Name League</th>
                    <th scope="col">Year</th>
                    <th scope="col">Name Team</th>
                    <th scope="col">Name Player</th>
                    <th scope="col">Creation Date</th>
                  </tr>
                </thead>
                <tbody>
                <!--EXAMPLE
                  <tr>
                    <th scope="row">1</th>
                    <td>Brandon Jacob</td>
                    <td>Designer</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  -->
                {% if requests %}
                  {% for req in requests %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      {% for element in req %}
                        <td>{{ element }}</td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                {% endif %}

                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>
{% endblock %}
