{% extends "layouts/header.html" %}
{% block contents %}
  {% load static %}
    <div class="pagetitle">
      <h1>Request</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Model creation</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Reports -->
            <div class="col-12">
              <div class="card">

                <div class="card-body">

                  <h5 class="card-title">Create the model <span>/Select all the options to create the model</span></h5>
                  <form method="POST" action="/request">
                    {% csrf_token %}
                    <!-- BEGIN:Values to select -->
                    <div class="row">
                      <div class="col-md-6">
                        <select class="form-select" name="target" aria-label="Default select example" id="target_model_1" onchange="selectFunction(this)">
                            <option selected="" value="-1">Select target for the model</option>
                            <option value="player">Value of a player</option>
                            <option value="squad">Value of a squad</option>
                            <option value="last-target">...</option>
                          </select>
                      </div>
                      <div class="col-md-6">
                        <!-- championships = ["serie-a", "premier-league", "primera-division", "ligue-1", "bundesliga"]-->
                        <select class="form-select" name="championship" aria-label="Default select example" id="target_model_2" style="display:none;" onchange="selectFunction(this)">
                            <option selected="" value="-1">Select championship</option>
                            <option value="serie-a">Serie-a</option>
                            <option value="premier-league">Premier-league</option>
                            <option value="primera-division">Primera-division</option>
                            <option value="ligue-1">Ligue-1</option>
                            <option value="bundesliga">Bundesliga</option>
                          </select>
                      </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="row">
                      <div class="col-md-6">
                        <select class="form-select" name="year" aria-label="Default select example" id="target_model_3" style="display:none;" onchange="selectFunction(this)">
                          <option selected="" value="-1">Select year</option>
                          <option value="2010">2010</option>
                          <option value="2011">2011</option>
                          <option value="2012">2012</option>
                          <option value="2013">2013</option>
                          <option value="2014">2014</option>
                          <option value="2015">2015</option>
                          <option value="2016">2016</option>
                          <option value="2017">2017</option>
                          <option value="2018">2018</option>
                          <option value="2019">2019</option>
                          <option value="2020">2020</option>
                          <option value="2021">2021</option>
                        </select>
                      </div>
                      <div class="col-md-6">

                        <select class="form-select" name="squad" aria-label="Default select example" id="target_model_4" style="display:none;" onchange="selectFunction(this)">
                          <option selected="" value="-1">Select squad</option>
                        </select>
                      </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="row">
                      <div class="col-md-12">
                        <select class="form-select" name="player" aria-label="Default select example" id="target_model_5" style="display:none;" onchange="selectFunction(this)">
                          <option selected="" value="-1">Select player</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <button class="btn btn-primary w-100" name="create_model" value="true" type="submit">Create model</button>
                      </div>
                    </div>
                  </form>
                  <!-- END:Values to select -->
                  {% if years %}
                    <!-- Line Chart -->
                    <div class="col-lg-12">

                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{ name }}</h5>

                          <!-- Line Chart -->
                          <canvas id="lineChart" style="max-height: 400px;"></canvas>

                          <script>
                            {% if years %}var x_label = {{ years }};{% endif %}
                            {% if values %}var y_label = {{ values }};{% endif %}
                            document.addEventListener("DOMContentLoaded", () => {
                              new Chart(document.querySelector('#lineChart'), {
                                type: 'line',
                                data: {
                                  labels: x_label,
                                  datasets: [{
                                    label: 'Line Chart',
                                    data: y_label,
                                    fill: false,
                                    borderColor: 'rgb(75, 192, 192)',
                                    tension: 0.1
                                  }]
                                },
                                options: {
                                  scales: {
                                    y: {
                                      beginAtZero: true
                                    }
                                  }
                                }
                              });
                            });
                          </script>
                          <!-- End Line CHart -->

                        </div>
                      </div>
                    </div>
                  {% endif %}

                </div>

              </div>
            </div><!-- End Reports -->

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><a href="#">#2457</a></th>
                        <td>Brandon Jacob</td>
                        <td><a href="#" class="text-primary">At praesentium minu</a></td>
                        <td>$64</td>
                        <td><span class="badge bg-success">Approved</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2147</a></th>
                        <td>Bridie Kessler</td>
                        <td><a href="#" class="text-primary">Blanditiis dolor omnis similique</a></td>
                        <td>$47</td>
                        <td><span class="badge bg-warning">Pending</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2049</a></th>
                        <td>Ashleigh Langosh</td>
                        <td><a href="#" class="text-primary">At recusandae consectetur</a></td>
                        <td>$147</td>
                        <td><span class="badge bg-success">Approved</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2644</a></th>
                        <td>Angus Grady</td>
                        <td><a href="#" class="text-primar">Ut voluptatem id earum et</a></td>
                        <td>$67</td>
                        <td><span class="badge bg-danger">Rejected</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2644</a></th>
                        <td>Raheem Lehner</td>
                        <td><a href="#" class="text-primary">Sunt similique distinctio</a></td>
                        <td>$165</td>
                        <td><span class="badge bg-success">Approved</span></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

            <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body pb-0">
                  <h5 class="card-title">Top Selling <span>| Today</span></h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Preview</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Sold</th>
                        <th scope="col">Revenue</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><a href="#"><img src="{% static 'assets/img/product-1.jpg' %}" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Ut inventore ipsa voluptas nulla</a></td>
                        <td>$64</td>
                        <td class="fw-bold">124</td>
                        <td>$5,828</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="{% static 'assets/img/product-2.jpg' %}" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Exercitationem similique doloremque</a></td>
                        <td>$46</td>
                        <td class="fw-bold">98</td>
                        <td>$4,508</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="{% static 'assets/img/product-3.jpg' %}" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Doloribus nisi exercitationem</a></td>
                        <td>$59</td>
                        <td class="fw-bold">74</td>
                        <td>$4,366</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="{% static 'assets/img/product-4.jpg' %}" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Officiis quaerat sint rerum error</a></td>
                        <td>$32</td>
                        <td class="fw-bold">63</td>
                        <td>$2,016</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="{% static 'assets/img/product-5.jpg' %}" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Sit unde debitis delectus repellendus</a></td>
                        <td>$79</td>
                        <td class="fw-bold">41</td>
                        <td>$3,239</td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">



        </div><!-- End Right side columns -->

      </div>
    </section>

{% endblock %}
